body{
  /* background-color:#37495D; */
  /* overflow-x: hidden; */
}

.content{
  background-color:#37495D;
}

.nav{
  background-color:#3E85B3;
}

.logo{
  max-width: 50px !important;
}

.profile-img{
  width:50px !important;
  height:50px !important;
  background-color: white;
  display: inline-block;
}

.font-weight-500{
  font-weight: 500;
}

.sidebar{
  background-color: #2F3E51;
}

.sidebar a{
  color: white;
}

.sidebar-icon{
  max-width:45px !important;
}

.bg-info-light{
  background-color:#63cdde;
}

.bg-success-light{
  background-color:#57ca71;
}

.bg-red{
  background-color:#b24c3b;
}

.btn-danger{
  background-color:#b24c3b !important;
  border-color:#b24c3b !important;
}

.btn-danger:hover{
  background-color:#f13c4d !important;
  border-color:#f13c4d !important;
}

.bg-red-light{
  background-color:#d9604c;
}

.bg-dark-blue{
  background-color:#324150 !important;
}

.character{
  max-height: 220px;
}

.row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/**********************************RESPONSIVE*************************************************/



@media (min-width: 390px) {


}


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .w-lg-50{
        width:50% !important;
    }

    .w-lg-75{
        width:75% !important;
    }

    .sidebar{
      height: 1000px;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1450px) {

}
